<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Edit Seating</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<header>
    <div th:insert="~{nav :: navbar}"></div>
</header>

<div class="container">
    <h1>Edit Seating Time</h1>
    <div class="row">
        <div class="col-md-6">
            <h5>
                Event: <span th:text="${event.name}"></span>
            </h5>
            <form th:action="@{/event/{eventId}/seating/{id}/edit(eventId=${event.id}, id=${seating.id})}" method="post"
                  th:object="${seating}">
                <input type="hidden" th:field="*{id}"/>
                <input type="hidden" th:field="${event.id}"/>


                <div class="form-group">
                    <label class="control-label">Start Date & Time:</label>
                    <input type="datetime-local" th:field="*{startDateTime}" class="form-control" required/>
                    <p th:if="${#fields.hasErrors('startDateTime')}" class="text-danger"
                       th:errors="*{startDateTime}"></p>
                </div>

                <div class="form-group">
                    <label class="control-label">Duration:</label>
                    <div class="d-flex">

                        <div class="mr-2">
                            <label for="durationHours" class="control-label">Hours:</label>
                            <input type="number" th:field="*{durationHours}" class="form-control" id="durationHours"
                                   placeholder="Hours" min="0"/>
                        </div>


                        <div>
                            <label for="durationMinutes" class="control-label">Minutes:</label>
                            <input type="number" th:field="*{durationRemainingMinutes}" class="form-control"
                                   id="durationMinutes" placeholder="Minutes" min="0" max="59"/>
                        </div>
                    </div>
                    <p th:if="${#fields.hasErrors('durationMinutes')}" class="text-danger"
                       th:errors="*{durationMinutes}"></p>
                    <small class="form-text text-muted">
                        Maximum duration: <span th:text="${maxHours}"></span> hours and
                        <span th:text="${maxMinutes}"></span> minutes.
                    </small>
                </div>
                <button type="submit" class="btn btn-primary">Update Seating</button>
            </form>

            <hr/>
            <div>
                <a th:href="@{/event/{id}(id=${event.id})}">Go Back</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
